<mat-toolbar color="primary" class="flex justify-between items-center">
  <div class="flex items-center space-x-4">
    <img src="assets/logo.png" alt="Logo" class="h-12">
    <a routerLink="/" class="text-2xl text-white no-underline">Healthlifting Center</a>
    <div class="flex items-center space-x-4 ml-4">
      <button mat-button routerLink="/athletes" class="btn-large">Atletas</button>
      <button mat-button routerLink="/coaches" class="btn-large">Entrenadores</button>
      <button mat-button routerLink="/appointments" class="btn-large">Citas</button>
    </div>
  </div>
</mat-toolbar>

<style>
  .btn-large {
    font-size: 1.1rem; /* Ajusta el tamaño de fuente para hacer los botones más grandes */
    padding: 1rem 2rem; /* Ajusta el relleno para aumentar el tamaño del botón */
  }
</style>


