<mat-toolbar color="primary" class="flex justify-between items-center">
  <div class="flex items-center space-x-4">
    <img src="assets/logo.png" alt="Logo" class="h-12">
    <a routerLink="/" class="text-2xl text-white no-underline">Healthlifting Center</a>
  </div>
  <div class="flex justify-center flex-grow">
    <div class="flex space-x-10 buttons-container">
      <button mat-button routerLink="/athletes" class="btn-large">Atletas</button>
      <button mat-button routerLink="/coaches" class="btn-large">Entrenadores</button>
      <button mat-button routerLink="/appointments" class="btn-large">Citas</button>
    </div>
  </div>
</mat-toolbar>

<style>
  .btn-large {
    font-size: 1.2rem; /* Ajusta el tamaño de fuente para hacer los botones más grandes */
    padding: 1rem 2rem; /* Ajusta el relleno para aumentar el tamaño del botón */
  }

  .buttons-container {
    margin-left: -300px; /* Ajusta este valor según sea necesario para mover los botones a la izquierda */
  }
</style>



