<div class="container">
    <div class="athlete-details">
      <h2>Detalle del Atleta</h2>
      <div *ngIf="athlete">
        <p><strong>Nombre:</strong> {{ athlete.personalInformation.name }}</p>
        <p><strong>Apellido:</strong> {{ athlete.personalInformation.surname }}</p>
        <p><strong>Documento:</strong> {{ athlete.personalInformation.document }}</p>
        <p><strong>Tipo de Documento:</strong> {{ athlete.personalInformation.documentType }}</p>
        <p><strong>Edad:</strong> {{ athlete.age }}</p>
        <p><strong>Altura:</strong> {{ athlete.height }}</p>
      </div>
      <button mat-button color="warn" (click)="deleteAthlete()">Eliminar Atleta</button>
    </div>
  
    <div class="appointments">
      <h2>Citas del Atleta</h2>
      <table mat-table [dataSource]="appointmentsDataSource" class="mat-elevation-z8">
        
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let appointment"> {{appointment.id}} </td>
        </ng-container>
        
        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let appointment"> {{appointment.date | date}} </td>
        </ng-container>
        
        <!-- Coach Name Column -->
        <ng-container matColumnDef="coachName">
          <th mat-header-cell *matHeaderCellDef> Entrenador </th>
          <td mat-cell *matCellDef="let appointment"> {{appointment.coachName}} </td>
        </ng-container>
        
        <!-- Coach Surname Column -->
        <ng-container matColumnDef="coachSurname">
          <th mat-header-cell *matHeaderCellDef> Apellido del Entrenador </th>
          <td mat-cell *matCellDef="let appointment"> {{appointment.coachSurname}} </td>
        </ng-container>
        
        <!-- Training Type Column -->
        <ng-container matColumnDef="trainingType">
          <th mat-header-cell *matHeaderCellDef> Tipo de Entrenamiento </th>
          <td mat-cell *matCellDef="let appointment"> {{appointment.trainingType}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="appointmentDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: appointmentDisplayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>