<div class="flex items-center space-x-4 p-4 bg-gray-100">
    <ng-container *ngIf="showAthleteButton">
      <app-athlete-creation-container (click)="navigateToCreateAthlete()">
      </app-athlete-creation-container>
    </ng-container>
    
    <ng-container *ngIf="showCoachButton">
      <app-coach-creation-container (click)="navigateToCreateCoach()"></app-coach-creation-container>
    </ng-container>
    
    <ng-container *ngIf="showAppointmentButton">
      <app-appointment-creation-container (click)="navigateToCreateAppointment()">
      </app-appointment-creation-container>
    </ng-container>
  </div>
